body {
    background-color: #012525;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e7fdeb;

}

svg {
    background-color: #014646;
}

#canvas {
    min-height: 600px;
    min-width: 950px;
}


.county:hover {
    fill: rgb(99, 9, 9)
}

g {
    color: #FDF1E7
}

#tooltip {
    visibility: hidden;
    height: auto;
    width: auto;
    margin-top: 2px;
    color: #FDF1E7;
    font-size: 24px;
    margin-bottom: 5px;
}

#legend {
    color: rgb(56, 58, 74);
    font-size: 18px;
    text-align: center;
    min-height: 150px;
    max-width: 180px;
    margin-top: 40px;
    margin-bottom: 40px;
}


#title {
    font-size: 28px;
    color: #FDF1E7;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
}

#description a {
    text-decoration: none;
    color: #FDF1E7;
    text-align: center;
}

#container {
    display: flex;
    align-items: center;
    width: 100%;
}

#rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}